NEXT_PUBLIC_SUPABASE_URL=https://ftzsopjjxrodivvegdfp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0enNvcGpqeHJvZGl2dmVnZGZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5MzU1NDYsImV4cCI6MjA5NjUxMTU0Nn0.RZjhKKIGJqDTIJ9RlHwjA1vP4ePKmNE9JmIgRlc06qw
